@mixin button-commons() {
    display: inline-block;
    padding: remCalc(16) remCalc(22) remCalc(14) remCalc(22);
    border-radius: $border_radius;
    text-decoration: none;
    transition: $trans_linear;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1;
    font-size: 1rem;
    border: none;
    width: 100%;

    @include mq(md) {
        width: auto;
    }

    &:hover {
        cursor: pointer;
    }
}



/*
  Standard/filled buttons
*/
.c-button {
    @include button-commons();
    background: $color_primary;
    color: $color_secondary;

    &:hover {
        background: lighten($color_primary, 5%);
    }
}

.c-button--light {
    @include button-commons();
    background: $color_secondary;
    color: $color_primary;

    &:hover {
        background: darken($color_secondary, 5%);
    }
}



.c-button-icon {
    @extend .c-button;
    padding-right: $space_3xl;
    position: relative;

    .button__icon {
        position: absolute;
        display: block;
        top: 0px;
        right: -1px;
        height: 46px;
        width: 46px;
        z-index: 100;
        border-radius: $border_radius;
        overflow: hidden;
        background: $color_secondary;
        transition: $trans_easeOutCubic_fast;
    }

    i {
        @include abs-center();
        transition: $trans_easeOutCubic_fast;
        transition-delay: 50ms;
    }

    &:hover {
        .button__icon {
            transform: translateX(5px);
        }

        i {
            transform: translateX(-30%) translateY(-50%);
        }
    }
}
