.c-gallery {
    @include py($space_l);

    @include mq(lg) {
        @include py($space_3xl);
    }
}

.c-gallery__item {
    @include grid-cell(1, 4, 3);
    position: relative;
    overflow: hidden;

    a {
        display: block;
        overflow: hidden;

        .c-gallery__item__icon {
            position: absolute;
            bottom: 0px;
            right: 0px;
            width: 60px;
            height: 110px;
            background: linear-gradient($slashy_degs, transparent 0%, transparent calc(100% - 45px), rgba($color_black, 0.65) calc(100% - 44px), rgba($color_black, 0.65) 100%);
            display: block;
            z-index: 20;
            transition: $trans_easeOutCubic_fast;

            i {
                position: absolute;
                bottom: 10px;
                right: 10px;
                color: $color_white;
                transition: $trans_linear;
            }
        }

        &:after {
            content: '';
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background: rgba($color_black0, 0);
            transition: $trans_linear_fast;
            z-index: 10;
        }

        &:hover {
            &:after {
                background: rgba($color_black0, 0.3);
            }

            img {
                transform: scale(1.05);
            }

            .c-gallery__item__icon {
                transform: translateX(5px);
                i {
                    color: $color_green;
                }
            }
        }
    }

    img {
        transform: scale(1);
        transition: $trans_easeOutCubic;
        backface-visibility: hidden;
    }
}
