.c-footer {

}



.c-footer-top {

}



.c-footer-main {
    background: $color_black;
    color: $color_white;
    padding-top: $space_2xl;
    padding-bottom: $space_3xl;

    a {
        color: $color_white;
    }
}



.c-footer-bottom {
    background: $color_black0;
    color: $color_white;
    display: flex;
    justify-content: center;
    @include py($space_m);
}
