.swiper-slide {
    height: auto;
}



/*
    Pagination
*/
.swiper-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    @include py($space_s);
}

.swiper-pagination-bullet{
    outline: none;
    opacity: 0.5;
    background: $color_primary;
    padding: 2px;
    width: 10px;
    height: 10px;
    @include mx($space_2xs);

    &:hover{
        opacity: 1;
    }
}

.swiper-pagination-bullet-active{
    opacity: 1;
}



/*
    Navigation: arrows
*/
.swiper-button-prev,
.swiper-button-next{
    position: static;
    margin-top: 0px;
    outline: none;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: $color_green;
    color: $color_white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: $trans_linear_fast;
    @include mx($space_xs);

    &:after{
        display: block;
        font-size: remCalc(24);
        color: $color_white;
        font-family: $font_family_icons;
    }

    &:hover{
        background: $color_blue;
    }

    &.swiper-button-disabled {
        opacity: 1;
        background: $color_white;
        border: thin solid $color_green;

        &:after {
            color: $color_green;
        }
    }
}

.swiper-button-prev {
    &:after {
        content: fa-content($fa-var-chevron-left);
    }
}

.swiper-button-next {
    &:after {
        content: fa-content($fa-var-chevron-right);
    }
}

.swiper-button-lock {
    display: none;
}
