.c-hero {
    @include bg-image();
    @include py($space_4xl);
    position: relative;

    @include mq(md) {
        height: 40vh;
        min-height: 300px;
        @include py(0);
        display: flex;
        align-items: center;
    }

    &__overlay {
        @include abs-fill();
        background: rgba($color_black0, 0.5);
        z-index: 10;
    }

    &__content__inner {
        @include grid-cell(2, 6);
    }

    &__title {
        @include fs2();
        color: $color_white;
    }

    &__content {
        width: 100%;
        position: relative;
        z-index: 20;
        color: $color_white;
    }

    &__cta {
        margin-top: $space_m;
    }
}
